.description {
  color: #4B0F84!important;
  margin-top: 450px!important;
  font-weight: 600;
  font-family: STKaiti!important;
}

.medium-zoom-image {
  display: block;
  margin: 0 auto;
}

.content__default:not(.custom) img {
  max-width: 70%!important;
}